<mat-toolbar class="goBack">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="DailyRecc">Daily Recommendation</span>
  </mat-toolbar>
<app-profile-card
  *ngIf="profiles.length"
  [profile]="profiles[currentIndex]"
  [index]="currentIndex"
  [total]="profiles.length"
  (action)="onProfileAction($event)">
</app-profile-card>

<!-- <app-profile-card
    *ngIf="profiles.length > 0"
    [profile]="profiles[currentIndex]"
    (action)="handleAction($event)">
  </app-profile-card> -->
